<<<<<<< HEAD
<div class="container col-3">
  <h1>Upload photo</h1>
  <div class="uploader_photo">
    <%= simple_form_for current_user, url: update_profile_photo_path do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
=======
<h1>Edit user name</h1>
<div class="uploader-pic d-flex justify-content-center col-3">
  <%= simple_form_for current_user, url: update_profile_photo_path do |f| %>
    <%= f.input :username %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
>>>>>>> master
</div>
