<div class="container col-3">
  <h1 class="text-center">Edit - Informations</h1>
  <%= simple_form_for(@profile) do |f| %>
    <%= f.input :bio_description, placeholder: "Insert your bio ..." %>
    <%= f.input :soundcloud_link, placeholder: "Insert SoundCloud link..." %>
    <%= f.input :instagram_link, placeholder: "Insert Instagram link..." %>
    <%= f.input :facebook_link, placeholder: "Insert Facebook link..." %>
    <div>
      <%= f.button :submit, "update", class: "neon-button-secondary, neon-button-search" %>
    </div>
  <% end %>
</div>
