<!-- banner -->
<div class="profile-banner">
  <div class="profile-banner-container">
    <% if @profile.user.photo.attached? %>
      <%= image_tag @profile.user.photo, class: "profile-pic" %>
    <% else %>
        <%= image_tag "profile-picture-placeholder.png", class: "profile-pic" %>
    <% end %>
    <span class="profile-photo-edit">
      <% if @profile.user == current_user %>
        <%= link_to (edit_profile_photo_path(@profile.user)), class: "midi-button" do %>
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_85_1604)">
          <path d="M14.0657 8.89465L11.1595 11.8008C10.0888 12.8715 9.01199 13.9422 7.94741 15.0251C7.69657 15.2821 7.5069 15.6247 7.43348 15.9612C7.04803 17.7294 6.67482 19.4976 6.30161 21.2657L6.09359 22.2447C5.9957 22.7219 6.12418 23.1991 6.44845 23.5234C6.69929 23.7742 7.04803 23.9149 7.41513 23.9149C7.51914 23.9149 7.62315 23.9027 7.72716 23.8843L8.80397 23.658C10.5171 23.297 12.2363 22.9299 13.9494 22.575C14.3471 22.4894 14.6836 22.312 14.9712 22.0244C19.7801 17.2093 24.589 12.4004 29.398 7.59758C29.7528 7.24273 29.9486 6.82057 29.9976 6.30052C30.0037 6.21486 29.9976 6.12921 29.9792 6.04967C29.9486 5.9273 29.9241 5.79882 29.8935 5.67646C29.8262 5.36443 29.7528 5.00957 29.606 4.66695C28.7066 2.61122 27.2138 1.14284 25.1703 0.316878C24.7603 0.151686 24.3259 0.0966215 23.9466 0.0476756L23.8426 0.0354391C23.292 -0.0318616 22.7903 0.151686 22.3559 0.592199C19.6027 3.35764 16.8311 6.12921 14.0657 8.89465ZM23.6407 1.50994C23.6529 1.50994 23.6591 1.50994 23.6713 1.50994L23.7753 1.52217C24.0935 1.55888 24.3871 1.59559 24.6196 1.69348C26.2838 2.36649 27.5074 3.56566 28.2477 5.2543C28.3334 5.45008 28.3885 5.70093 28.4435 5.96401C28.4619 6.06191 28.4864 6.1598 28.5047 6.25769C28.4802 6.36782 28.4374 6.44124 28.3517 6.52077C23.5367 11.3236 18.7278 16.1386 13.9188 20.9476C13.8393 21.0271 13.7659 21.0638 13.6557 21.0883C11.9365 21.4493 10.2234 21.8103 8.50418 22.1712L7.59868 22.3609L7.76999 21.5594C8.1432 19.7974 8.51641 18.0292 8.89574 16.2671C8.90798 16.2121 8.95693 16.1264 9.01199 16.0652C10.0766 14.9884 11.1411 13.9177 12.2118 12.8532L15.118 9.94699C17.8896 7.17543 20.6611 4.40386 23.4266 1.62618C23.5428 1.52829 23.5979 1.50994 23.6407 1.50994Z" fill="#03D2FF"/>
          <path d="M2.38 6.6921H13.0624C13.4785 6.6921 13.815 6.3556 13.815 5.93956C13.815 5.52352 13.4785 5.18701 13.0624 5.18701H2.38C1.06457 5.18701 0 6.2577 0 7.56701V27.5981C0 28.9136 1.07069 29.9781 2.38 29.9781H22.405C23.7204 29.9781 24.785 28.9074 24.785 27.5981V17.3501C24.785 16.934 24.4485 16.5975 24.0324 16.5975C23.6164 16.5975 23.2799 16.934 23.2799 17.3501V27.5981C23.2799 28.0815 22.8822 28.4792 22.3989 28.4792H2.38C1.89665 28.4792 1.49897 28.0815 1.49897 27.5981V7.57313C1.49897 7.08978 1.89665 6.6921 2.38 6.6921Z" fill="#03D2FF"/>
          </g>
          <defs>
          <clipPath id="clip0_85_1604">
          <rect width="30" height="30" fill="white"/>
          </clipPath>
          </defs>
          </svg>
        <% end %>
      <% end %>
    </span>
    <h2><%= @profile.user.username %></h2>
    <button type="button" class="midi-button show-share" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.2898 15.0878C15.6079 15.0878 14.9727 15.2861 14.4371 15.627L9.03182 11.8532C9.11859 11.5503 9.16603 11.2307 9.16603 10.9C9.16603 10.5692 9.11859 10.2497 9.03182 9.94678L14.2912 6.27485C14.8555 6.67569 15.5448 6.91218 16.2897 6.91218C18.1984 6.91218 19.7458 5.36482 19.7458 3.45611C19.7458 1.5474 18.1985 0 16.2898 0C14.381 0 12.8337 1.54735 12.8337 3.45606C12.8337 3.70814 12.8614 3.95365 12.9127 4.19038L7.51972 7.95556C6.9933 7.63134 6.37363 7.44392 5.70997 7.44392C3.80126 7.44392 2.25391 8.99127 2.25391 10.9C2.25391 12.8087 3.80121 14.356 5.70997 14.356C6.37358 14.356 6.9933 14.1686 7.51972 13.8444L12.9543 17.6387C12.8761 17.9273 12.8337 18.2306 12.8337 18.5439C12.8337 20.4526 14.381 22 16.2898 22C18.1985 22 19.7458 20.4526 19.7458 18.5439C19.7458 16.6352 18.1985 15.0878 16.2898 15.0878Z" fill="#03D2FF"/>
      </svg>
    </button>
  </div>
</div>


<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:black">Copy the link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color:black">
        <%="#{request.url}" %> <%# code to use for sharing the user profil, need to change 'midi.id' by 'user.id'(jeremy) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thank You!</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="profile-container">
    <!--midi list-->
    <%= render "/midis/midi_card_list_without_counter", midis: @midis %>
    <!--profile card-->
    <div>
      <div class="profile-card">
        <span class="profile-edit">
          <% if @profile.user == current_user %>
            <%= link_to (edit_profile_path(@profile)), class: "midi-button" do %>
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_85_1604)">
              <path d="M14.0657 8.89465L11.1595 11.8008C10.0888 12.8715 9.01199 13.9422 7.94741 15.0251C7.69657 15.2821 7.5069 15.6247 7.43348 15.9612C7.04803 17.7294 6.67482 19.4976 6.30161 21.2657L6.09359 22.2447C5.9957 22.7219 6.12418 23.1991 6.44845 23.5234C6.69929 23.7742 7.04803 23.9149 7.41513 23.9149C7.51914 23.9149 7.62315 23.9027 7.72716 23.8843L8.80397 23.658C10.5171 23.297 12.2363 22.9299 13.9494 22.575C14.3471 22.4894 14.6836 22.312 14.9712 22.0244C19.7801 17.2093 24.589 12.4004 29.398 7.59758C29.7528 7.24273 29.9486 6.82057 29.9976 6.30052C30.0037 6.21486 29.9976 6.12921 29.9792 6.04967C29.9486 5.9273 29.9241 5.79882 29.8935 5.67646C29.8262 5.36443 29.7528 5.00957 29.606 4.66695C28.7066 2.61122 27.2138 1.14284 25.1703 0.316878C24.7603 0.151686 24.3259 0.0966215 23.9466 0.0476756L23.8426 0.0354391C23.292 -0.0318616 22.7903 0.151686 22.3559 0.592199C19.6027 3.35764 16.8311 6.12921 14.0657 8.89465ZM23.6407 1.50994C23.6529 1.50994 23.6591 1.50994 23.6713 1.50994L23.7753 1.52217C24.0935 1.55888 24.3871 1.59559 24.6196 1.69348C26.2838 2.36649 27.5074 3.56566 28.2477 5.2543C28.3334 5.45008 28.3885 5.70093 28.4435 5.96401C28.4619 6.06191 28.4864 6.1598 28.5047 6.25769C28.4802 6.36782 28.4374 6.44124 28.3517 6.52077C23.5367 11.3236 18.7278 16.1386 13.9188 20.9476C13.8393 21.0271 13.7659 21.0638 13.6557 21.0883C11.9365 21.4493 10.2234 21.8103 8.50418 22.1712L7.59868 22.3609L7.76999 21.5594C8.1432 19.7974 8.51641 18.0292 8.89574 16.2671C8.90798 16.2121 8.95693 16.1264 9.01199 16.0652C10.0766 14.9884 11.1411 13.9177 12.2118 12.8532L15.118 9.94699C17.8896 7.17543 20.6611 4.40386 23.4266 1.62618C23.5428 1.52829 23.5979 1.50994 23.6407 1.50994Z" fill="#03D2FF"/>
              <path d="M2.38 6.6921H13.0624C13.4785 6.6921 13.815 6.3556 13.815 5.93956C13.815 5.52352 13.4785 5.18701 13.0624 5.18701H2.38C1.06457 5.18701 0 6.2577 0 7.56701V27.5981C0 28.9136 1.07069 29.9781 2.38 29.9781H22.405C23.7204 29.9781 24.785 28.9074 24.785 27.5981V17.3501C24.785 16.934 24.4485 16.5975 24.0324 16.5975C23.6164 16.5975 23.2799 16.934 23.2799 17.3501V27.5981C23.2799 28.0815 22.8822 28.4792 22.3989 28.4792H2.38C1.89665 28.4792 1.49897 28.0815 1.49897 27.5981V7.57313C1.49897 7.08978 1.89665 6.6921 2.38 6.6921Z" fill="#03D2FF"/>
              </g>
              <defs>
              <clipPath id="clip0_85_1604">
              <rect width="30" height="30" fill="white"/>
              </clipPath>
              </defs>
              </svg>
            <% end %>
          <% end %>
        </span>
        <div class="profile-stats">
          <!--uploads-->
          <div class="profile-stats-uploads">
            <p class="stat-name">uploads</p>
            <p class="stat-value"><%= @midis.count %></p>
          </div>
          <!--upvotes-->
          <div class="profile-stats-upvotes">
            <p class="stat-name">upvotes</p>
            <p class="stat-value">
              <% total_upvotes = 0 %>
              <% @midis.each do |midi| %>
                <% total_upvotes += midi.upvotes.count %>
              <% end %>
              <%= total_upvotes %>
            </p> <!-- TODO: replace with upvote sum-->
          </div>
        </div> <!-- TODO: add user bio here -->
        <p class="profile-stats-description">
          <%= @profile.bio_description %>
        </p>
        <div class="profile-icons">
          <!--Soundcloud icon-->
          <%= link_to(@soundcloud) do %>
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.4639 0H6.51546C2.92784 0 0 2.92784 0 6.51546V19.4845C0 23.0515 2.92784 25.9794 6.51546 25.9794H19.4845C23.0722 25.9794 26 23.0515 26 19.4639V6.51546C25.9794 2.92784 23.0515 0 19.4639 0ZM5.13402 15.7113C5.13402 15.7526 5.09278 15.7732 5.07217 15.7732C5.03093 15.7732 5.01031 15.7526 5.01031 15.7113L4.8866 14.7629L5.01031 13.7938C5.01031 13.7526 5.05155 13.732 5.07217 13.732C5.1134 13.732 5.13402 13.7526 5.13402 13.7938L5.27835 14.7629L5.13402 15.7113ZM5.73196 16.2887C5.73196 16.3299 5.69072 16.3505 5.6701 16.3505C5.62887 16.3505 5.60825 16.3299 5.60825 16.2887L5.4433 14.7629L5.60825 13.1959C5.60825 13.1546 5.64948 13.134 5.6701 13.134C5.71134 13.134 5.73196 13.1546 5.73196 13.1959L5.91753 14.7629L5.73196 16.2887ZM6.39175 16.5567C6.39175 16.5979 6.35052 16.6392 6.30928 16.6392C6.26804 16.6392 6.2268 16.5979 6.2268 16.5567L6.08247 14.7629L6.2268 12.9072C6.2268 12.866 6.26804 12.8247 6.30928 12.8247C6.35052 12.8247 6.39175 12.866 6.39175 12.9072L6.5567 14.7629L6.39175 16.5567ZM7.05155 16.6186C7.05155 16.6804 7.01031 16.7216 6.94845 16.7216C6.8866 16.7216 6.86598 16.6804 6.84536 16.6186L6.70103 14.7835L6.84536 12.8866C6.84536 12.8247 6.8866 12.7835 6.94845 12.7835C7.01031 12.7835 7.03093 12.8247 7.05155 12.8866L7.21649 14.7835L7.05155 16.6186ZM7.71134 16.6392C7.71134 16.701 7.6701 16.7629 7.60825 16.7629C7.54639 16.7629 7.50516 16.7216 7.50516 16.6392L7.36082 14.7835L7.50516 13.0103C7.50516 12.9485 7.54639 12.8866 7.60825 12.8866C7.6701 12.8866 7.71134 12.9278 7.71134 13.0103L7.85567 14.7835L7.71134 16.6392ZM8.45361 16.6392C8.45361 16.7216 8.35052 16.7629 8.28866 16.7629C8.2268 16.7629 8.14433 16.701 8.14433 16.6392L8 14.7835L8.12371 11.8969C8.12371 11.8144 8.18557 11.7732 8.24742 11.7732C8.30928 11.7732 8.37113 11.8351 8.37113 11.8969L8.5567 14.7835L8.45361 16.6392ZM9.07216 16.6186C9.07216 16.701 8.98969 16.7629 8.92783 16.7629C8.84536 16.7629 8.7835 16.701 8.7835 16.6186L8.65979 14.7629L8.7835 11.2165C8.7835 11.134 8.84536 11.0722 8.92783 11.0722C9.01031 11.0722 9.05155 11.134 9.07216 11.2165L9.21649 14.7629L9.07216 16.6186ZM9.69072 16.5979C9.69072 16.6804 9.62887 16.7629 9.54639 16.7629C9.46392 16.7629 9.40206 16.701 9.40206 16.5979L9.29897 14.7629L9.40206 10.9278C9.40206 10.8454 9.46392 10.7629 9.54639 10.7629C9.62887 10.7629 9.69072 10.8247 9.69072 10.9278L9.79381 14.7629L9.69072 16.5979ZM10.3918 16.5979C10.3918 16.701 10.3093 16.7629 10.2268 16.7629C10.1443 16.7629 10.0619 16.6804 10.0619 16.5979L9.95876 14.7835L10.0619 10.8247C10.0619 10.7216 10.1443 10.6598 10.2268 10.6598C10.3093 10.6598 10.3918 10.7423 10.3918 10.8247L10.5155 14.7629L10.3918 16.5979ZM11.0928 16.5773C11.0928 16.6804 11.0103 16.7629 10.9072 16.7629C10.8041 16.7629 10.7423 16.6804 10.7216 16.5773L10.6186 14.7835L10.7216 10.9072C10.7216 10.8041 10.8041 10.7216 10.9072 10.7216C11.0103 10.7216 11.0928 10.8041 11.0928 10.9072L11.1959 14.7629L11.0928 16.5773ZM11.7526 16.5567C11.7526 16.6598 11.6701 16.7629 11.567 16.7629C11.4639 16.7629 11.3814 16.6804 11.3814 16.5567L11.299 14.7629L11.3814 11.0515C11.3814 10.9278 11.4639 10.8454 11.567 10.8454C11.6701 10.8454 11.7526 10.9278 11.7526 11.0515L11.8351 14.7629L11.7526 16.5567ZM12.5773 16.5567C12.5773 16.6804 12.433 16.7835 12.3299 16.7835C12.2268 16.7835 12.1031 16.6804 12.1031 16.5567L12.0206 14.7835L12.0825 10.3505C12.0825 10.2268 12.1649 10.1237 12.2887 10.1237C12.3918 10.1237 12.4948 10.2268 12.4948 10.3505L12.6392 14.7835L12.5773 16.5567ZM13.1959 16.5155C13.1959 16.6392 13.0722 16.7423 12.9691 16.7423C12.8454 16.7423 12.7423 16.6392 12.7423 16.5155L12.6598 14.7629L12.7423 9.93814C12.7423 9.81443 12.8454 9.71134 12.9691 9.71134C13.0928 9.71134 13.1959 9.81443 13.1959 9.93814L13.299 14.7629L13.1959 16.5155ZM19.0928 16.7629C19.0515 16.7629 13.5876 16.7629 13.5876 16.7629C13.4639 16.7423 13.4021 16.6392 13.4021 16.5155V9.71134C13.4021 9.58763 13.4227 9.52577 13.567 9.46392C13.9588 9.29897 14.3918 9.21649 14.8247 9.21649C16.6598 9.21649 18.1649 10.7217 18.3299 12.6598C18.5567 12.5567 18.8247 12.4948 19.0928 12.4948C20.1856 12.4948 21.0928 13.4639 21.0928 14.6392C21.0928 15.8144 20.2062 16.7629 19.0928 16.7629Z" fill="black"/>
            </svg>
          <% end %>
          <!--instagram icon-->
          <%= link_to(@instagram) do %>
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.475 0.260524H5.525C2.47867 0.260524 0 2.74623 0 5.80232V9.46886V10.5522V20.1776C0 23.2331 2.47867 25.7189 5.525 25.7189H20.475C23.5213 25.7189 26 23.2331 26 20.1776V10.5522V9.46886V5.80232C26 2.74623 23.5213 0.260524 20.475 0.260524ZM24.9167 20.1776C24.9167 22.6357 22.9239 24.6355 20.475 24.6355H5.525C3.07558 24.6355 1.08333 22.6357 1.08333 20.1776V10.5522H7.70304C6.29417 11.9296 5.41667 13.8477 5.41667 15.9689C5.41667 20.1505 8.81833 23.5522 13 23.5522C17.1817 23.5522 20.5833 20.1505 20.5833 15.9689C20.5833 13.8477 19.7058 11.9296 18.297 10.5522H24.9167V20.1776ZM19.5 15.9689C19.5 19.5531 16.5842 22.4689 13 22.4689C9.41579 22.4689 6.5 19.5531 6.5 15.9689C6.5 12.3846 9.41579 9.46886 13 9.46886C16.5842 9.46886 19.5 12.3846 19.5 15.9689ZM16.8859 9.46886C15.7479 8.78582 14.4213 8.38552 13 8.38552C11.5787 8.38552 10.2521 8.78582 9.11408 9.46886H1.08333V5.80232C1.08333 3.34369 3.07613 1.34386 5.525 1.34386H20.475C22.9239 1.34386 24.9167 3.34369 24.9167 5.80232V9.46886H16.8859Z" fill="black"/>
            </svg>
          <% end %>
          <!--facebook icon-->
          <%= link_to(@facebook) do %>
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.9332 0.583679H2.06941C0.92485 0.583679 0 1.50766 0 2.65048V23.3298C0 24.4691 0.92485 25.3957 2.06941 25.3957H23.9332C25.0725 25.3957 26 24.47 26 23.3298V2.65048C25.9991 1.50766 25.0717 0.583679 23.9332 0.583679ZM17.4766 7.95035C16.9391 7.63598 16.5127 7.38762 15.9769 7.38762C15.4524 7.38762 15.0043 7.51875 14.775 7.73932C14.5458 7.95816 14.432 8.38194 14.432 9.00806V9.93465H17.2361L16.6291 12.5121H14.432V21.0763H10.9098V12.5121H9.26586V9.93465H10.9115V8.95075C10.9115 7.91474 11.0357 7.2947 11.2806 6.78321C11.5246 6.27346 11.9979 5.70552 12.6561 5.38421C13.3135 5.06377 14.2861 4.90225 15.2926 4.90225C16.3242 4.90225 17.1301 5.24614 18.1184 5.52316L17.4766 7.95035Z" fill="black"/>
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
