<header>
<!-- logo start -->
  <%= link_to root_path, class: "navbar-logo-section" do %>
  <%# <%= image_tag "ccp_logo_project.png", class: "logo" %>
    <%# name will be gone once there's a logo %>
    <h2>medee</h2>
  <% end %>
<!-- logo end -->

<!-- navbar links start -->
  <ul class="navbar-link-section">
    <li class="navbar-item">
      <%= link_to "Home", root_path, class: "navbar-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "medee", midis_path, class: "navbar-link" %>
    </li>
  </ul>
<!-- navbar links end -->

<!-- sign-in start -->
  <ul class="navbar-sign-in-section">
    <% if user_signed_in? %>
      <li class="username"> username</li>
      <li class="user-avatar"><%= image_tag "bulma.png", class: "avatar-picture" %></li>
      <div class="avatar-dropdown-menu">
        <li class="avatar-dropdown-item"><%= link_to "Upload Photo", edit_profile_path(current_user), class: "navbar-link" %></li>
        <li class="avatar-dropdown-item"><%= link_to "My profile", "#", class: "navbar-link" %></li>
        <li class="avatar-dropdown-item"><%= link_to "Log out",  destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-link" %>
      </div>
    <% else %>
      <li class="navbar-item">
        <%= link_to "Log in", new_user_session_path, class: "navbar-link" %>
      </li>
    <% end %>
  </ul>
<!--  sign-in end  -->
</header>
