<div class="slider">
  <span style="--i:1;"><%= image_tag "bulma.png", class: "img1" %></span>
  <span style="--i:2;"><%= image_tag "bulma.png", class: "img1" %></span>
  <span style="--i:3;"><%= image_tag "bulma.png", class: "img1" %></span>
  <span style="--i:4;"><%= image_tag "bulma.png", class: "img1" %></span>
  <span style="--i:5;"><%= image_tag "bulma.png", class: "img1" %></span>
  <span style="--i:6;"><%= image_tag "bulma.png", class: "img1" %></span>
  <span style="--i:7;"><%= image_tag "bulma.png", class: "img1" %></span>
  <span style="--i:8;"><%= image_tag "bulma.png", class: "img1" %></span>
</div>
