<div>
  <%# form for midi files %>
  <%= simple_form_for(@midi, url: midis_path, method: :post) do |f| %>
    <%= f.input :title %>
    <%= f.input :key_signature %>
    <%= f.input :time_signature %>
    <%= f.input :description %>
    <%= f.input :midi_file, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
<div class="home-container">
  <div class="banner">banner</div>
  <div class="search">search</div>
  <div class="rotating-slide">rotating-slide</div>
  <div class="midis-container">midis-container</div>
</div>



<%# cloudinary image from Jeremy %>

<%# <%= cl_image_tag("cld-sample-4",
      width: 400, height: 300, crop: :fill) %>

<%# test button %>
<%# <a class="neon-button-primary" href="/midis">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Neon button
</a>

<a class="neon-button-secondary" href="/midis">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Secondary button
</a> %>
