<div class="home-container">
  <div class="banner">
    <div class="banner-logo-burrito">
      <div class="banner-glow-background">
      </div>
      <%= image_tag "banner-logo.png", class: "banner-logo" %>
    </div>
    <div class="medee">
      medee
    </div>
  </div>
  <div class="search">search</div>
  <div class="rotating-slide">rotating-slide</div>
  <div class="midis-container">midis-container</div>
</div>



<%
=begin %>

<%# test button %>
<a class="neon-button-primary" href="/midis">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Neon button
</a>

<a class="neon-button-secondary" href="/midis">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Secondary button
</a>


<%# cloudinary image from Jeremy %>

<%# <%= cl_image_tag("cld-sample-4",
      width: 400, height: 300, crop: :fill) %>

<%# image Upload from Jeremy %>

<div>
  <%# form for midi files %>
  <%= simple_form_for(@midi) do |f| %>
    <%= f.input :title %>
    <%= f.input :key_signature %>
    <%= f.input :time_signature %>
    <%= f.input :description %>
    <%= f.input :midi, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
<%
=end %>
