<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div>
  <%# form for midi files %>
  <%= simple_form_for(@midi) do |f| %>
    <%= f.input :title %>
    <%= f.input :key_signature %>
    <%= f.input :time_signature %>
    <%= f.input :description %>
    <%= f.input :midi, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
