<%# comment input from users (no visitors) goes here %>


  <div class="comments">
    <% comments.each do |comment| %>
      <div class="notification">
          <div class="show-description-artist">
            <% if comment.user.photo.attached? %>
              <%= image_tag comment.user.photo, class: "navbar-avatar" %>
            <% else %>
                <%= image_tag "profile-picture-placeholder.png", class: "navbar-avatar" %>
                <!-- TODO: make image link to user profile -->
            <% end %>
            <p> <%= comment.user.username %></p>
          </div>
          <div class="notification-content">
            <p><small><%= comment.created_at.strftime("%e %b %Y %H:%M:%S%p") %></small></p>
            <p> <%= comment.content %></p>
          </div>
          <div class="notification-actions">
            <%# <a href="#"><i class="fas fa-pencil-alt"></i></a> %>
            <%= link_to  midi_comment_path(comment.midi, comment), data: {turbo_method: :delete} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>

    <%= simple_form_for [@midi, @comment], html: {style: "display: flex;justify-content: space-between;align-items: center;"} do |f| %>
        <%= f.input :content,
                    placeholder: 'Add a comment..',
                    required: false,
                    input_html: {style: "width: 1063px"},
                    label: false
                    %>
        <%= f.submit class: "btn btn-light", style: "margin-bottom: 16px"%>
    <% end %>
