<div class="show-midi" data-controller="play-midi" data-play-midi-json-value="<%= @midi.midi_json %>" data-play-midi-url-value="<%= cloudinary_url(midi.midi_file.key) if  midi.midi_file.attached? %>">
  <div class="show-midi-play" data-action="click->play-midi#playOnClick">
    <svg width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
      <ellipse cx="25.6155" cy="25.1302" rx="25.6155" ry="25.1302" fill="#0085FF"/>
      <path d="M37.1706 25.1269L19.7526 35.9803L19.2491 15.0933L37.1706 25.1269Z" fill="white"/>
    </svg>
  </div>
  <div class="show-midi-info">
    <h1><%= midi.title %></h1>
      <p><%= midi.category %></p>
    <div class="show-midi-info-image">
      <div style="background-color: white;">
        <%= scatter_chart(@chart_data, min: @bottom, max: @top, id: "users-chart", width: :inherit, height: "200px" ) %>
      </div>
    </div>
    <div class="show-midi-bottom">
      <%= render "midis/midi_card_buttons", midi: midi %>
      <%= render "midis/midi_card_tags", midi: midi %>
      <p>128 bpm (hardcoded)</p> <!-- TODO remove hardcode -->
    </div>
  </div>
</div>

<% if current_user == @midi.user%>
  <div class="d-flex justify-content-end">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Options</button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><%= link_to "Edit", edit_midi_path(@midi), class: "dropdown-item" %></li>
            <li><%= link_to "Delete", midi_path(@midi), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "dropdown-item" %></li>
          </ul>
      </div>
    </div>
  </div>
<% end %>

<!--
<div style="background-color: white;">
  <%= scatter_chart(@chart_data, xtitle: "Time", ytitle: "Key") %>
</div>
-->
<!--
<div>
  <%# <%= scatter_chart chartkick_midi_charts_path %> %>
</div>
-->
