<%# comment input from users (no visitors) goes here %>


  <div class="comments">
    <% comments.each do |comment| %>
      <div class="notification">
          <div class="show-description-artist">
            <% if comment.user.photo.attached? %>
              <%= image_tag comment.user.photo %>
            <% else %>
                <%= image_tag("profile-picture-placeholder.png", class: "avatar") %>
                <!-- TODO: make image link to user profile -->
            <% end %>
            <p> <%= comment.user.username %></p>
          </div>
          <div class="notification-content">
            <p><small><%= comment.created_at.strftime("%e %b %Y %H:%M:%S%p") %></small></p>
            <p> <%= comment.content %></p>
          </div>
          <div class="notification-actions">
            <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
            <a href="#">Delete <i class="far fa-trash-alt"></i></a>
          </div>
      </div>
    <% end %>
  </div>
<div class="show-comments">
    <%= simple_form_for [@midi, @comment] do |f| %>
      <%= f.input :content,
                  placeholder: 'Add a comment..',
                  required: true
                  %>
      <%= f.submit %>
    <% end %>
</div>
