<div class="show-description">
  <div class="show-description-artist">
    <%= link_to(profile_path(@midi.user)) do %>
      <% if @midi.user.photo.attached? %>
        <%= image_tag @midi.user.photo, class: "avatar-midi-show" %>
      <% else %>
          <%= image_tag "profile-picture-placeholder.png", class: "avatar" %>
          <!-- TODO: make image link to user profile -->
      <% end %>
      <p><%= @midi.user.username %></p>
    <% end %>
  </div>
  <div>
    <h3>description</h3>
    <%= @midi.description %>
  </div>
</div>
