<div class="index-container" data-controller="search-midis">
<!-- ask Johannes if there are any problems with styling this search-form please, thank you -->
<!--SEARCH START -->
  <div class="search-bar-warp d-flex justify-content-center">
    <div class="search-bar">
      <div>
        <%= form_with url: midis_path, method: :get, html: {class: "d-flex", data: {search_midis_target: "searchform"}} do |f| %>
          <%= f.text_field :query,
            class: "form-control
                    bg-black
                    border-top-0
                    border-start-0
                    border-end-0",
            placeholder: "Type a midi title...",
            value: params[:query],
            data: {
              search_midis_target: "searchinput",
              action: "keyup->search-midis#update"
            }
          %>
          <div><%= image_tag "search-icon.png", class: "search-icon" %></div>
          <%# <%= f.submit "Search", class: "search-button"%>
          <%# <button class="filter-button">filter</button> %>
        <% end %>
      </div>
    </div>
  </div>
<!--SEARCH END -->
    <div class="filter-wrap">
      <%= render "filter"%>
    </div>
<!-- ask Johannes if there are any problems with styling this midi_list please, thank you -->
    <div class="midi-card-list-wrap">
      <%= render "midi_card_list", midis: @midis %>
    </div>
</div>
