<div data-controller="convert-midi-to-json">
  <%= simple_form_for(@midi) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :key_signature %>
    <%= f.input :time_signature %>
    <%= f.input :category, collection: Midi.categories.map {|key, value| [key.titleize, Midi.categories.key(value)]} %>
    <%= f.input :moods, collection: Mood.all, as: :check_boxes %>
    <%= f.input :midi_file, as: :file, input_html: { data: {convert_midi_to_json_target: "input", action: "change->convert-midi-to-json#toJson"} }%>
    <%= f.input :midi_json, as: :hidden, input_html: { data: { convert_midi_to_json_target: "result" } } %>
    <%= f.submit %>
  <% end %>
</div>
